body{
  background-color: #00203c;
  font-family: 'Raleway', sans-serif;
}

.button{
  margin: 1vh;
}

#btns{
  margin: 1vw;
  text-align: center;
}

.form{
  text-align: center;
  margin-bottom: 3vh;
}

#cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  color: white;
  background-color: #003b6f;
  text-align: center;
  padding: 2.5vh;
  width: fit-content;
  margin: 3vh;
  border: 3px solid white;
  animation: 0.5s ease-out fade2;
}

.form{
  color: white;
  margin: 1%;
}

.button{
  font-size:small;
  background-color: #003b6f;
  border: 2px solid white;
  color: white;
  padding: 8px;
  border-radius: 10px;
}

#srch{
color: white;
padding: 2.5vh;
width: fit-content;
margin: auto;
animation: 0.5s ease-out fade2;
}

#nope{
    opacity: 0.3;
    color: #a6b8c7	;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    animation: 0.5s fade;
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0.3;
  }
}

@keyframes fade2{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#inps{
  display: flex;
  justify-content: center;
}